.cat-footprints {
  position: relative;
  height: 177px;
  @media (max-width: 480px) {
    height: 124px;
  }
  &::after {
    position: absolute;
    top: 0;
    right: 210px;
    z-index: 99;
    width: 972px;
    height: 100%;
    content: '';
    background-image: url('../../assets/images/cat-footprints/cat-footprints.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @media (max-width: 1220px) {
      right: 40px;
    }
    @media (max-width: 1024px) {
      right: 0;
      width: 467px;
      background-position: left center;
    }
    @media (max-width: 480px) {
      width: 328px;
    }
  }
}
