.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  // .header__container
  &__container {
  }
  // .header__inner
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 5px 0;
  }
  // .header__logo
  &__logo {
  }
  // .header__menu
  &__menu {
  }
}
.logo {
  img {
    flex: 0 0 104px;
    width: 104px;
    height: 26px;
    object-fit: cover;
    object-position: center center;
  }
  // .logo__link
  &__link {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
.menu {
  // .menu__body
  &__body {
  }
  // .menu__icon
  &__icon {
  }
  // .menu__list
  &__list {
    display: flex;
    align-items: center;
  }
  // .menu__item
  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  // .menu__link
  &__link {
  }
}
