section:not(:first-child) {
  padding-top: 140px;
}
section:last-child {
  padding-bottom: 100px;
}
.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  height: 34px;
  padding: 0 16px;
  overflow: hidden;
  font-family: $primaryFontFamily;
  font-size: 16px;
  font-weight: 400;
  line-height: 162%;
  color: $primaryTextColor;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border-radius: 80px;
  transition: all 0.3s ease 0s;
  &:disabled {
    color: #fff;
    pointer-events: none;
  }
}
.btn--yellow {
  background-color: $primaryColor;
  &.disabled {
    display: none;
  }
  &:disabled {
    background-color: #b4b4b4;
  }
  @media (hover: hover) {
    &:not(:disabled):hover {
      background-color: #ffe302;
    }
  }
}
.h1 {
  font-family: inherit !important;
  font-size: 40px !important;
  font-weight: 400 !important;
  line-height: math.div(40, 40) * 100% !important;
  letter-spacing: normal !important;
}
.h2 {
  font-size: 22px !important;
  font-weight: 400 !important;
  line-height: math.div(28, 22) * 100% !important;
}
.p1 {
  font-family: $secondaryFontFamily !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: math.div(26, 16) * 100% !important;
}
