.acquaintance {
  padding: 175px 0;
  @media (max-width: 767px) {
    padding: 145px 0;
  }
  // .acquaintance__container
  &__container {
  }
  // .acquaintance__inner
  &__inner {
    @media (min-width: 767px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  // .acquaintance__image
  &__image {
    flex: 0 0 387px;
    width: 387px;
    img {
      width: 100%;
      height: 340px;
      object-fit: cover;
      object-position: center center;
      @media (max-width: 992px) {
        height: 260px;
      }
      @media (max-width: 767px) {
        display: block;
        height: 287px;
      }
    }
    &:not(:last-child) {
      margin-right: 40px;
      @media (max-width: 767px) {
        margin: 0px auto 40px auto;
      }
    }
    @media (max-width: 992px) {
      flex: 0 0 296px;
      width: 296px;
    }
    @media (max-width: 767px) {
      width: 328px;
      margin: 0 auto;
    }
  }
  // .acquaintance__info
  &__info {
    flex: 0 1 680px;
    @media (max-width: 1023px) {
      flex: 1 1 auto;
    }
  }
}
.info-acquaintance {
  text-align: right;
  @media (max-width: 767px) {
    text-align: left;
  }
  // .info-acquaintance__title
  &__title {
    font-family: inherit !important;
    letter-spacing: normal !important;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  // .info-acquaintance__subtitle
  &__subtitle {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  // .info-acquaintance__text
  &__text {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  // .info-acquaintance__btn
  &__btn {
  }
}
