/* stylelint-disable scss/no-global-function-names */
.not-found {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  padding: 0 15px;
  margin: 0 auto;
  &__text {
    margin: 0px 0px 25px 0px;
    @include adaptiv-value('font-size', 20, 18, 1);
    line-height: math.div(24, 20) * 100%;
    color: #b7b7b7;
    text-align: center;
    user-select: none;
    strong {
      display: inline-flex;
      margin: 0px 5px 0px 0px;
      letter-spacing: 1px;
    }
  }
  &__link {
    width: 100%;
    max-width: 200px;
    height: 48.5px;
    font-weight: 600;
    color: #b7b7b7;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background-color: lighten(#32383e, 2%);
    border-color: #32383e;
    border-radius: 4px;
    @media (hover: hover) {
      &:hover {
        background-color: rgba(#32383e, 0.35);
        border-color: rgba(#fff, 0.25);
      }
    }
    @media (max-width: 480px) {
      max-width: 100%;
      height: 44px;
    }
  }
}
